*{
    font-family: montserrat;
    margin: 0;
}

.navbar{
    height: 100%;
    width: 15%;
    background-color: #272727;
    position: fixed;
    overflow: auto;
}

li :hover{
    border-left: 3px solid #939393;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar ul{
    list-style:none;
    margin-top:0;
    padding:0;
}

li a {
    padding: 30px 50px;
    display: block;
    border: none;
    border-bottom: 2px solid #3c3c3c;
}